h1 {
    color : gray;
   }

   img {
       width : 200px; 
   }

   #thirdID {
       height : 600px;
       width : 500px;
       background : pink;
       padding : 50px;
       border : 1px blue solid; 
   }

   #spanID {
       font-size : 18px;
       margin : 50px;    
   }

   * {
    background-image : url('https://caminossostenibilidad.com/2017/05/06/paisaje-cultura-y-sostenibilidad-eduardo-martinez-de-pison/');
    background-color : transparente;   
   }